{% extends "main.html" %}

{% block title %}Author detail{% endblock %}

{% block content %}
   <table>
       <tr>
           <th>Name</th>
           <td>{{ author.name }}</td>
       </tr>
       <tr>
           <th>Books</th>
           <td>
            <ul>
                {% for b in author_books %}
                    <li><a href="{% url "books:details" b.id %}">{{ b.title }}</a></li>
                {% endfor %}
            </ul>
           </td>
       </tr>
   </table>
   <br/>
   <a href="{% url "books:authors" %}">back</a>
{% endblock %}
